/* --- LAYOUT GENERAL --- */
body {
    display: flex;
    height: 100vh;
    background: #f5f5f5;
    color: #333;
    font-family: Arial;
}

/* SIDEBAR */
.sidebar {
    width: 18rem;
    background: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 8px;
    transition: background .2s;
}

.menu-item:hover {
    background: #333;
}

.menu-item.active {
    background: #1e88e5;
}

/* PRODUCTOS */

#productos-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto-card {
    background: rgb(188, 220, 255);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgb(0,0,0,0.2);
}

.producto-card:hover{
    transform: translateY(-0.2rem);
}

.prod-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.prod-buttons button {
    margin-left: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.prod-desc{
    padding: 1rem;
}

.btn-edit-producto {
    background: #1e88e5;
    color: white;
}

.btn-delete-producto {
    background: #c62828;
    color: white;
}

.prod-info h3 {
    margin: 0 0 5px;
}

.prod-buttons button {
    margin-left: 10px;
}

@media (max-width: 1000px)
{
    .producto-card{
        flex-direction: column;
        padding: 3rem 0;
        text-align: center;
    }

    .prod-buttons{
        width: 90%;
    }
    
    .prod-info h3{
        font-size: 2rem;
    }

    .prod-info{
        width: 90%;
    }

    .prod-desc{
        border: 1px solid #1e88e5;
        margin: 1rem auto;
        border-radius: 10px;
        font-size: 1.5rem;
        text-align: left;
        width: 100%;
    }

    .prod-buttons button {
        font-size: 1.5rem;
        width: 50%;
    }
}

@media(max-width: 650px)
{
    .prod-buttons {
        flex-direction: column;
        gap: 0.5rem;
        width: 90%;
    }

    .prod-buttons button {
        font-size: 1.5rem;
        width: 100%;
    }
}


@media(max-width: 1050px)
{
    .sidebar{
        width: 100%;
    }
    body{
        flex-direction: column;
    }
}

/* LOGOUT */
.logout-btn {
    margin-top: auto;
    padding: 12px;
    background: #b71c1c;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #d50000;
}

/* MAIN CONTENT */
.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: #121212;
}


/* SECTIONS */
.section {
    display: none;
    padding-top: 20px;
}

.section.visible {
    display: block;
}

.actions .btn {
    padding: 10px 15px;
    background: #1e88e5;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}



#mozos-actions {
    margin-bottom: 20px;
}

#mozos-list {
    margin-top: 10px;
}

.mozo-card {
    background: rgb(188, 220, 255);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mozo-buttons button {
    margin-left: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit {
    background: #1e88e5;
    color: white;
}

.btn-delete {
    background: #c62828;
    color: white;
}

/* ACTIONS */

.actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.actions a{
    text-decoration: none;
}

.btn {
    flex: 1;
    padding: 15px;
    background: #0088ff;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    background: #0072d9;
}
