a{
    text-decoration: none;
}

header {
    background: #222;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#formComanda{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid rgb(0,0,0,0.1);
    background: #9fc8f1;
    margin: 2rem 0 7rem 0;
    gap: 1rem;
}



.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 80%;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.section h3 {
    margin-top: 0;
}

label{
    font-size: 0.8rem;
    letter-spacing: 1px;
}

input, select {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn {
    background: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    margin-top: 12px;
    border: none;
}

.btn:hover {
    background: #0067d1;
    transform: translateY(-0.2rem);
}

.producto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c1dfff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.producto-item span {
    font-size: 16px;
    font-weight: bold;
}

.total-box {
    font-weight: bold;
    padding: 15px;
    background: #eee;
    width: 80%;
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
    border-radius: 10px;
}

.error{
    width: 80%;
    position: fixed;
    bottom: 10%;
    z-index: 1;
}

@media (max-width: 1050px)
{
    #formComanda{
        width: 100%;
    }

    .section{
        width: 100%;
    }

    .total-box{
        width: 100%;
    }
}

.modal {
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-height: 80%;
    overflow-y: auto;
    width: 90%;
    max-width: 500px;
}

.producto-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.producto-card button {
    width: 30px; height: 30px;
    font-size: 18px;
    margin: 0 5px;
}
