#listaComandas{
    display: flex;
    flex-direction: column;
    margin: 0 0 5rem 0;
}

.comanda-card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    margin: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.comanda-card h3 {
    margin-bottom: 8px;
}

.productos {
    margin-top: 10px;
    font-size: 14px;
}

.producto {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ddd;
    padding: 4px 0;
}

.total {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}
